:root {
  --t4-notification-max-width: 568px;
  --t4-notification-subtitle-text-transform: none;
  --t4-notification-subtitle-line-height: 1.35;
  --t4-notification-text-text-transform: none;
  --t4-notification-text-font-weight: 400;
}
.ios-vars({
  --t4-notification-margin: 8px;
  --t4-notification-padding-horizontal: 16px;
  --t4-notification-padding-vertical: 16px;
  --t4-notification-border-radius: 24px;
  --t4-notification-box-shadow: var(--t4-glass-shadow);
  --t4-notification-icon-size: 28px;

  --t4-notification-title-font-size: 14px;
  --t4-notification-title-text-transform: none;
  --t4-notification-title-line-height: 1.4;
  --t4-notification-title-font-weight: bold;
  --t4-notification-title-letter-spacing: 0.02em;

  --t4-notification-title-right-font-size: 14px;

  --t4-notification-subtitle-font-size: 14px;
  --t4-notification-subtitle-font-weight: 600;

  --t4-notification-text-font-size: 14px;
  --t4-notification-text-line-height: 1.4;
  --t4-notification-bg-color: var(--t4-glass-bg-color);
  .light-vars({
    --t4-notification-title-color: #000;
    --t4-notification-title-right-color: rgba(0,0,0,0.45);
    --t4-notification-subtitle-color: #000;
    --t4-notification-text-color: #000;
  });
  .dark-vars({
    --t4-notification-title-color: #fff;
    --t4-notification-text-color: #fff;
    --t4-notification-subtitle-color: #fff;
    --t4-notification-title-right-color: rgba(255,255,255,0.55);
  });
});
.md-vars({
  --t4-notification-margin: 16px;
  --t4-notification-padding-vertical: 20px;
  --t4-notification-padding-horizontal: 16px;
  --t4-notification-border-radius: 16px;
  --t4-notification-box-shadow: none;
  --t4-notification-icon-size: 24px;

  --t4-notification-title-font-size: 16px;
  --t4-notification-title-text-transform: none;
  --t4-notification-title-line-height: 1.35;
  --t4-notification-title-font-weight: 500;

  --t4-notification-title-right-font-size: 12px;

  --t4-notification-subtitle-font-size: 14px;
  --t4-notification-subtitle-font-weight: 400;

  --t4-notification-text-font-size: 14px;
  --t4-notification-text-line-height: 1.35;

});

.md-color-vars({
  --t4-notification-title-color: var(--t4-md-on-surface);
  --t4-notification-bg-color: var(--t4-md-surface-5);
  --t4-notification-text-color: var(--t4-md-on-surface-variant);
  --t4-notification-title-right-color: var(--t4-md-on-surface-variant);
  --t4-notification-subtitle-color: var(--t4-md-on-surface);
});
