build
.git
.github
custom
packages
node_modules
*.ts
boonker/core
boonker/svelte/dist
boonker/react/dist
boonker/vue/dist
src/core/techno4.js
src/core/techno4-lite.js
src/core/modules/demo-module.js
src/core/modules/component/snabbdom
woff2

src/vue-temp
