:root {
  --t4-toast-font-size: 14px;
  --t4-toast-icon-size: 48px;
  --t4-toast-max-width: 568px;
}
.ios-vars({
  --t4-toast-bg-color: var(--t4-glass-bg-color);
  --t4-toast-padding-horizontal: 16px;
  --t4-toast-padding-vertical: 12px;
  --t4-toast-border-radius: 32px;
  --t4-toast-button-min-width: 64px;
});
.md-vars({
  --t4-toast-padding-horizontal: 24px;
  --t4-toast-padding-vertical: 14px;
  --t4-toast-border-radius: 16px;
  --t4-toast-button-min-width: 64px;
});
.md-color-vars({
  --t4-toast-text-color: var(--t4-md-on-surface);
  --t4-toast-bg-color: var(--t4-md-surface-5);
});
