:root {
  --t4-photobrowser-caption-font-size: 13px;
  --t4-photobrowser-caption-font-weight: 500;
  --t4-photobrowser-exposed-bg-color: #000;

  .light-vars({
    --t4-photobrowser-bg-color: #fff;
    --t4-photobrowser-caption-text-color: #000;
  });
  .dark-vars({
    --t4-photobrowser-bg-color: #000;
    --t4-photobrowser-caption-text-color: #fff;
  });
}
