:root {
  --t4-messagebar-attachments-height: 155px;
  --t4-messagebar-sheet-height: 252px;
  --t4-messagebar-sheet-landscape-height: 192px;
  /*
  --t4-messagebar-inner-padding-left: var(--t4-toolbar-inner-padding-left);
  --t4-messagebar-inner-padding-right: var(--t4-toolbar-inner-padding-right);
  */
  .light-vars({

  });
  .dark-vars({

  });
}
.ios-vars({
  --t4-messagebar-height: 60px;
  --t4-messagebar-font-size: 17px;
  --t4-messagebar-textarea-bg-color: var(--t4-glass-bg-color);
  --t4-messagebar-link-color: var(--t4-bars-text-color);
  --t4-messagebar-border-color: transparent;
  --t4-messagebar-textarea-border-radius: 24px;
  --t4-messagebar-textarea-padding: 10px 16px 6px;
  --t4-messagebar-textarea-height: 40px;
  --t4-messagebar-textarea-font-size: 17px;
  --t4-messagebar-textarea-line-height: 20px;
  --t4-messagebar-sheet-border-color: transparent;
  --t4-messagebar-attachment-border-radius: 20px;
  --t4-messagebar-attachment-height: 155px;
  --t4-messagebar-attachment-landscape-height: 120px;
    --t4-messagebar-attachments-border-color: transparent;
    --t4-messagebar-textarea-border: none;
  .light-vars({
    --t4-messagebar-sheet-bg-color: #fff;
    --t4-messagebar-textarea-placeholder-color: rgba(0,0,0,0.4);
    --t4-messagebar-textarea-text-color: #000;

    --t4-messagebar-bg-color: #fff;
    --t4-messagebar-bg-color-rgb: 255, 255, 255;
  });
  .dark-vars({
    --t4-messagebar-sheet-bg-color: #000;
    --t4-messagebar-textarea-placeholder-color: rgba(255, 255, 255, 0.4);
    --t4-messagebar-textarea-text-color: #fff;
    --t4-messagebar-bg-color: var(--t4-bars-bg-color);
    --t4-messagebar-bg-color-rgb: var(--t4-bars-bg-color-rgb);
  });
});
.md-vars({
  --t4-messagebar-height: 64px;
  --t4-messagebar-font-size: 16px;
  --t4-messagebar-textarea-border-radius: 24px;
  --t4-messagebar-textarea-padding: 12px 16px;
  --t4-messagebar-textarea-height: 48px;
  --t4-messagebar-textarea-font-size: 16px;
  --t4-messagebar-textarea-line-height: 22px;
  --t4-messagebar-textarea-border: 1px solid transparent;
  --t4-messagebar-attachment-border-radius: 12px;
  --t4-messagebar-attachment-height: 72px;
  --t4-messagebar-attachment-landscape-height: 72px;
  --t4-messagebar-border-color: transparent;
  --t4-messagebar-attachments-border-color: transparent;
});
.md-color-vars({
  --t4-messagebar-textarea-placeholder-color: var(--t4-md-on-surface-variant);
  --t4-messagebar-textarea-bg-color: var(--t4-md-surface-variant);
  --t4-messagebar-bg-color: var(--t4-md-surface);
  --t4-messagebar-textarea-text-color: var(--t4-md-on-surface);
  --t4-messagebar-sheet-bg-color: var(--t4-md-surface);
  --t4-messagebar-sheet-border-color: var(--t4-md-outline-variant);
  --t4-messagebar-link-color: var(--t4-md-on-surface);
});
