:root {
  --t4-swipeout-delete-button-bg-color: #ff3b30;
  --t4-swipeout-button-text-color: #fff;

  .light-vars({
    --t4-swipeout-button-bg-color: rgba(0,0,0,0.22);
  });
  .dark-vars({
    --t4-swipeout-button-bg-color: rgba(255,255,255,0.55);
  });
}
.ios-vars({
  --t4-swipeout-button-border-radius: 48px;
  --t4-swipeout-button-padding-vertical: 10px;
  --t4-swipeout-button-padding-horizontal: 16px;
  --t4-swipeout-button-font-size: inherit;
  --t4-swipeout-button-font-weight: inherit;
  --t4-swipeout-active-border-radius: 16px;
  .light-vars({
    --t4-swipeout-active-bg-color: #eee;
  });
  .dark-vars({
    --t4-swipeout-active-bg-color: #2c2c2e;
  });
});
.md-vars({
  --t4-swipeout-button-border-radius: 0px;
  --t4-swipeout-button-padding-vertical: 0px;
  --t4-swipeout-button-padding-horizontal: 24px;
  --t4-swipeout-button-font-size: 14px;
  --t4-swipeout-button-font-weight: 500;
  .dark-vars({
    --t4-swipeout-button-text-color: #000;
  });
});
