:root {
  /*
  --t4-searchbar-link-color: var(--t4-bars-link-color);
  --t4-searchbar-inline-input-font-size: var(--t4-searchbar-input-font-size);
  */
  --t4-searchbar-input-border-width: 0px;
  --t4-searchbar-input-border-color: transparent;
}
.ios-vars({
  /*

  --t4-searchbar-border-color: var(--t4-bars-border-color);
  */
  --t4-searchbar-bg-color: transparent;
  --t4-searchbar-height: 44px;
  --t4-searchbar-inner-padding-left: 0px;
  --t4-searchbar-inner-padding-right: 0px;
  --t4-searchbar-link-color: var(--t4-bars-text-color);
  --t4-searchbar-input-font-size: 17px;
  --t4-searchbar-input-border-radius: 44px;
  --t4-searchbar-input-height: 44px;
  --t4-searchbar-inline-input-height: 44px;
  /*
  --t4-searchbar-inline-input-border-radius: var(--t4-searchbar-input-border-radius);
  */
  --t4-searchbar-input-padding-horizontal: 44px;
  /*
  --t4-searchbar-inline-input-padding-horizontal: var(--t4-searchbar-input-padding-horizontal);
  --t4-searchbar-input-clear-button-color: var(--t4-input-clear-button-color);
  */
  --t4-searchbar-backdrop-bg-color: rgba(0,0,0,0.4);
  --t4-searchbar-in-page-content-margin: 16px;
  --t4-searchbar-in-page-content-box-shadow: none;
  --t4-searchbar-in-page-content-border-radius: 44px;
  --t4-searchbar-in-page-content-input-border-radius: 44px;
  --t4-searchbar-input-bg-color: var(--t4-glass-bg-color);
  .light-vars({
    --t4-searchbar-placeholder-color: rgba(0, 0, 0, 0.4);
    --t4-searchbar-input-text-color: #000;
    --t4-searchbar-search-icon-color: rgba(0, 0, 0, 0.4);
  });
  .dark-vars({
    --t4-searchbar-placeholder-color: rgba(255, 255, 255, 0.4);
    --t4-searchbar-input-text-color: #fff;
    --t4-searchbar-search-icon-color: rgba(255, 255, 255, 0.4);
  });
});
.md-vars({
  --t4-searchbar-border-color: transparent;
  --t4-searchbar-height: 48px;
  --t4-searchbar-inner-padding-left: 8px;
  --t4-searchbar-inner-padding-right: 8px;
  --t4-searchbar-input-font-size: 16px;
  --t4-searchbar-input-border-radius: 24px;
  --t4-searchbar-input-height: 48px;
  --t4-searchbar-inline-input-height: 48px;
  --t4-searchbar-inline-input-border-radius: 24px;
  --t4-searchbar-input-padding-horizontal: 16px;
  --t4-searchbar-inline-input-padding-horizontal: 16px;
  --t4-searchbar-backdrop-bg-color: rgba(0,0,0,0.25);
  --t4-searchbar-in-page-content-margin: 16px 0;
  --t4-searchbar-in-page-content-box-shadow: none;
  --t4-searchbar-in-page-content-border-radius: 24px;
  --t4-searchbar-in-page-content-input-border-radius: 24px;
  --t4-searchbar-bg-color: transparent;
});
.md-color-vars({
  --t4-searchbar-link-color: var(--t4-md-on-surface);
  --t4-searchbar-search-icon-color: var(--t4-md-on-surface);
  --t4-searchbar-input-clear-button-color: var(--t4-md-on-surface);
  --t4-searchbar-placeholder-color: var(--t4-md-on-surface-variant);
  --t4-searchbar-input-bg-color: var(--t4-md-secondary-container);
  --t4-searchbar-input-text-color: var(--t4-md-on-surface);
});
