:root {
  --t4-timeline-inner-block-margin-vertical: 16px;
  --t4-timeline-divider-margin-horizontal: 16px;
  --t4-timeline-item-text-font-weight: inherit;
  --t4-timeline-item-subtitle-font-weight: inherit;
}
.ios-vars({
  --t4-timeline-divider-color: #bbb;
  --t4-timeline-padding-horizontal: 16px;
  --t4-timeline-margin-vertical: 35px;
  --t4-timeline-item-inner-border-radius: 24px;
  --t4-timeline-item-time-font-size: 13px;
  --t4-timeline-item-title-font-size: 17px;
  --t4-timeline-item-title-line-height: inherit;
  --t4-timeline-item-title-font-weight: 600;
  --t4-timeline-item-subtitle-font-size: 15px;
  --t4-timeline-item-subtitle-line-height: inherit;
  --t4-timeline-item-text-font-size: inherit;
  --t4-timeline-item-text-color: inherit;
  --t4-timeline-item-text-line-height: inherit;
  .light-vars({
    --t4-timeline-item-inner-bg-color: #fff;
    --t4-timeline-item-time-text-color: rgba(0,0,0,0.45);
  });
  .dark-vars({
    --t4-timeline-item-inner-bg-color: #1c1c1d;
    --t4-timeline-item-time-text-color: rgba(255,255,255,0.55);
  });
});
.md-vars({
  --t4-timeline-padding-horizontal: 16px;
  --t4-timeline-margin-vertical: 32px;
  --t4-timeline-item-inner-border-radius: 16px;
  --t4-timeline-item-time-font-size: 13px;
  --t4-timeline-item-title-font-size: 16px;
  --t4-timeline-item-title-line-height: inherit;
  --t4-timeline-item-title-font-weight: 400;
  --t4-timeline-item-subtitle-font-size: inherit;
  --t4-timeline-item-subtitle-line-height: inherit;
  --t4-timeline-item-text-font-size: inherit;
  --t4-timeline-item-text-line-height: inherit;
});
.md-color-vars({
  --t4-timeline-divider-color: var(--t4-md-outline);
  --t4-timeline-item-text-color: var(--t4-md-on-surface);
  --t4-timeline-item-inner-bg-color: var(--t4-md-surface-1);
  --t4-timeline-item-time-text-color: var(--t4-md-on-surface-variant);
});
