.md {
  .sheet-modal {
    .toolbar {
      --t4-safe-area-bottom: 0px;
      position: relative;
      width: 100%;
      &:after,
      &:before {
        display: none;
      }
      + .sheet-modal-inner {
        height: calc(100% - var(--t4-toolbar-height));
        .page-content {
          --t4-page-toolbar-top-offset: 0px;
          --t4-page-toolbar-bottom-offset: 0px;
        }
      }
      a.link:not(.tab-link) {
        flex-shrink: 0;
      }
    }
  }
}
