:root {
  --t4-sheet-height: 260px;
  --t4-sheet-push-offset: var(--t4-safe-area-top);
}
.ios-vars({
  --t4-sheet-border-radius: 32px;
  --t4-sheet-border-color: transparent;
  --t4-sheet-transition-timing-function: initial;
  --t4-sheet-push-border-radius: 32px;
  --t4-sheet-transition-duration: 300ms;
  --t4-sheet-bg-color: var(--t4-glass-bg-color);

});
.md-vars({
  --t4-sheet-border-radius: 16px;
  --t4-sheet-push-border-radius: 16px;
  --t4-sheet-border-color: transparent;
  --t4-sheet-transition-timing-function: cubic-bezier(0, 0.8, 0.34, 1);
  --t4-sheet-transition-duration: 400ms;
});
.md-color-vars({
  --t4-sheet-bg-color: var(--t4-md-surface);
});
