:root {
  /*

  --t4-subnavbar-bg-color-rgb: var(--t4-bars-bg-color-rgb);
  --t4-subnavbar-border-color: var(--t4-bars-border-color);
  --t4-subnavbar-link-color: var(--t4-bars-link-color);
  --t4-subnavbar-text-color: var(--t4-bars-text-color);
  */
  --t4-subnavbar-title-line-height: 1.2;
}
.ios-vars({
  --t4-subnavbar-height: 44px;
  --t4-subnavbar-offset-left: calc(16px + var(--t4-safe-area-left));
  --t4-subnavbar-offset-right: calc(16px + var(--t4-safe-area-right));
  --t4-subnavbar-inner-padding-left: 5px;
  --t4-subnavbar-inner-padding-right: 5px;
  --t4-subnavbar-title-font-size: 24px;
  --t4-subnavbar-title-font-weight: 700;
  --t4-subnavbar-title-letter-spacing: -0.03em;
  --t4-subnavbar-title-margin-left: 8px;
  --t4-subnavbar-bg-color: var(--t4-glass-bg-color);
  /*
  --t4-subnavbar-link-height: var(--t4-subnavbar-height);
  --t4-subnavbar-link-line-height: var(--t4-subnavbar-height);
  */
});
.md-vars({
  --t4-subnavbar-height: 64px;
  --t4-subnavbar-offset-left: 0;
  --t4-subnavbar-offset-right: 0;
  --t4-subnavbar-inner-padding-left: calc(16px + var(--t4-safe-area-left));
  --t4-subnavbar-inner-padding-right: calc(16px + var(--t4-safe-area-right));
  --t4-subnavbar-title-font-size: 22px;
  --t4-subnavbar-title-font-weight: 400;
  --t4-subnavbar-title-letter-spacing: 0;
  --t4-subnavbar-title-margin-left: 0px;
  /*
  --t4-subnavbar-bg-color: var(--t4-bars-bg-color);
  --t4-subnavbar-link-height: var(--t4-subnavbar-height);
  --t4-subnavbar-link-line-height: var(--t4-subnavbar-height);
  */
});
