.ios-vars({
  --t4-toggle-width: 64px;
  --t4-toggle-height: 28px;
  /*
  --t4-toggle-active-bg-color: var(--t4-theme-color);
  */
  --t4-toggle-inactive-knob-bg-color: #fff;
  --t4-toggle-active-knob-bg-color: #fff;

  .light-vars({
    --t4-toggle-inactive-border-color: #e5e5e5;
    --t4-toggle-inactive-bg-color: #fff;
  });
  .dark-vars({
    --t4-toggle-inactive-border-color: #555;
    --t4-toggle-inactive-bg-color: #555;
  });
});
.md-vars({
  --t4-toggle-width: 52px;
  --t4-toggle-height: 32px;
});
.md-color-vars({
  --t4-toggle-inactive-bg-color: var(--t4-md-surface-variant);
  --t4-toggle-active-bg-color: var(--t4-theme-color);
  --t4-toggle-inactive-knob-bg-color: var(--t4-md-outline);
  --t4-toggle-active-knob-bg-color: var(--t4-md-on-primary);
  --t4-toggle-inactive-border-color: var(--t4-md-outline);
  --t4-toggle-active-border-color: var(--t4-theme-color);
});
