:root {
  /*
  --t4-progressbar-progress-color: var(--t4-theme-color);
  */
}
.ios-vars({
  --t4-progressbar-height: 6px;
  --t4-progressbar-border-radius: 16px;
  .light-vars({
    --t4-progressbar-bg-color: rgba(0,0,0,0.1);
  });
  .dark-vars({
    --t4-progressbar-bg-color: rgba(255,255,255,0.3);
  });
});
.md-vars({
  --t4-progressbar-height: 4px;
  --t4-progressbar-border-radius: 4px;

});
.md-color-vars({
  --t4-progressbar-bg-color: var(--t4-md-secondary-container);
});
